/* 
Degular thin
font-family: "degular", sans-serif;
font-weight: 200;
font-style: thin;

Degular Light
font-family: "degular", sans-serif;
font-weight: 300;
font-style: normal;

Degular Italic
font-family: "degular", sans-serif;
font-weight: 400;
font-style: italic;

Degular Bold
font-family: "degular", sans-serif;
font-weight: 700;
font-style: normal; */

/* ohno
font-family: "ohno-blazeface", sans-serif;
font-weight: 900;
font-style: italic; */

/* Mencken italic
font-family: "mencken-std", sans-serif;
font-weight: 400;
font-style: italic;

mencken normal
font-family: "mencken-std", sans-serif;
font-weight: 400;
font-style: normal; */
